<div class="row content page-link-row">
    <div class="col">
        <h4>Links To My Pages</h4>
    </div>
</div>
</div>
<div class="row content page-link-row">
    {% for link in site.data.externalPages %}
        <div class="col">
            <div class="view overlay zoom page-icon-holder">
                <a href="{{ link.link }}">
                    <img class="img-fluid page-icon" src="{{ link.image }}" />
                </a>
            </div>
            <h5>{{ link.title }}</h5>
        </div>
    {% endfor %}
  </div>