---
layout: default
---

<div>
  <div class="video-container parallax-video">
    <video autoplay muted loop id="landingReel" onloadeddata="onLandignVideoLoaded()">
      <source src="/assets/media/PortfolioReel.mp4" type="video/mp4">
    </video>
    <div id="video-loader">
      <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="spacer layer3"></div>
  <section class="main">
    <div class="container-fluid">
      <div class="row content" id="AboutMe">
        <div class="col">
          <h2>{{ page.title }}</h2>
          <section>
            {{ content }}
          </section>
        </div>
      </div>
      {% include links.html title="Professional Projects" %}


      {% include projectSection.html title="Games @MEAE - University of Utah" projList=site.data.rapidProjects %}

      {% include projectSection.html title="Professional Games @Moonfrog Labs" projList=site.data.professionalProjects %}

      {% include projectSection.html title="Personal Game Projects" projList=site.data.personalGameProjects1 %}
      {% include projectSection.html projList=site.data.personalGameProjects2 %}
      {% include projectSection.html projList=site.data.personalGameProjects3 %}

      {% include projectSection.html title="Machine Learning Projects" projList=site.data.mlProjects %}

      {% include projectSection.html title="Other Projects" projList=site.data.otherProjects1 %}
      {% include projectSection.html projList=site.data.otherProjects2 %}

      
    </div>
  </section>

</div>