---
layout: default
---

<div>
  <div class="video-container">
    <video autoplay muted loop id="landingReel">
      <source src="/assets/media/PortfolioReel_SparkVideo.mp4" type="video/mp4">
    </video>
  </div>

  <section class="main">
    <div class="container-fluid">
      <div class = "row content" id="AboutMe">
        <div class="col">
          <h2>{{ page.title }}</h2>
          {{ page.content }}
        </div>
      </div>
      {% include links.html title="Professional Projects" %}
    
      {% include projectSection.html title="Professional Projects" projList=site.data.professionalProjects %}

      {% include projectSection.html title="Personal Game Projects" projList=site.data.personalGameProjects1 %}
      {% include projectSection.html projList=site.data.personalGameProjects2 %}
      {% include projectSection.html projList=site.data.personalGameProjects3 %}

      {% include projectSection.html title="Machine Learning Projects" projList=site.data.mlProjects %}

      {% include projectSection.html title="Other Projects" projList=site.data.otherProjects1 %}
      {% include projectSection.html projList=site.data.otherProjects2 %}

      {% include projectSection.html title="Work Experience" projList=site.data.workX %}
    </div>
  </section>

</div>
